# MongoDB
MONGODB_URI=The-Uniform-Resource-Identifier-for-connecting-to-a-MongoDB-database.

# MySQL
MYSQL_HOST=The-hostname-or-IP-address-for-the-MySQL-database-server.
MYSQL_PORT=The-port-number-for-the-MySQL-database-server.
MYSQL_USER=The-username-for-connecting-to-the-MySQL-database.
MYSQL_PASSWORD=The-password-for-the-MySQL-database-user.

# Redis
REDIS_HOST=The-hostname-or-IP-address-for-the-Redis-server.
REDIS_PORT=The-port-number-for-the-Redis-server.

# Node Mailer
NODEMAILER_USER=The-email-address-for-the-user-of-the-Node-Mailer-service.
NODEMAILER_PASSWORD=The-password-for-the-user-of-the-Node-Mailer-service.

# Express
PORT=The-port-number-for-the-Express-web-server.
WEB_SERVER_URI=The-URI-for-the-Express-web-server.
HOSTNAME=The-hostname-for-the-Express-web-server.
SESSION_SECRET=The-secret-key-used-to-sign-the-session-ID-cookie-in-Express.

# Amazon Web Services
S3_ACCESS_KEY=The-access-key-for-the-AWS-S3-service.
S3_SECRET_KEY=The-secret-key-for-the-AWS-S3-service.
S3_BUCKET=The-name-of-the-AWS-S3-bucket.
S3_REGION=The-region-for-the-AWS-S3-service.